// Jade

extends ../layout

block body
  article
    div 
      p ObjectId: #{user._id}
      p User: #{user.email}
      p Full name: #{user.name.first} #{user.name.last}
      p Hash: #{user.hash}

    div
      a(href = urlFor({ controller: 'account', action: 'logout' })) Logout
